name: 04-user-action

on: workflow_dispatch

jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: 04-using-actions/react-app
        steps:
            - name: checkout-code
              uses: actions/checkout@v4
            - name: Printing folders
              run: ls 
            - name: setup-node
              uses: actions/setup-node@v4 
              with: 
                node-version: '20.x'
            - name: Install-dependencies
              run: npm ci
            - name: run test cases
              run: npm run test